body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}


header {
  background-color: #333;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6f00;
}


.contact {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .contact .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #666;
    line-height: 1.5;
  }
  
  .contact form {
    text-align: left;
  }
  
  .contact label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .contact input[type="submit"] {
    background-color: #ff6f00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #e65c00;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }