<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/contact">Contact</a></li>

      </ul>
    </nav>
  </header>
  
  <section class="about">
    <div class="container">
      <h2>About Us</h2>
      <p>House of Helmets is dedicated to providing high-quality helmets for all your sporting and adventure needs. We believe in the importance of protecting your head during thrilling activities while ensuring comfort and style.</p>
      <p>In 1975 our father gave us sudden idea about the business in helmets. In Gujarat the law came strict for wearing compulsary Helmet. In starting we were in lot of rush. But slowly due to strict laws many customers came and bought helmets. We have unisex helmets, special womens also and men rider helmets too</p>
      <p>We are happy to declare due to latest technology we launched our brand online too.</p>
      <p>EXPERIENCE BRINGS MORE BETTER PRODUCTS AND RESULTS INTO HAPPY CUSTOMER</p>
      <p>FEEL HEAVY ON HEAD BUT LIVE FREE IN LIFE (YOUR SAFETY IS OUR RESPONSIBILTY)</p>
    </div>
  </section>
  
  <footer>
    <p>&copy; since 1975 House of Helmets. All rights reserved.</p>
  </footer>
</body>
</html>
